/*================ Header Custom ================*/
.site-header {
    border-bottom: none;
}

#header-container * {
    color: white;
    font-family: calibri;
    font-size: 1rem;
    text-transform: uppercase;
}

.site-nav__link--active .site-nav__label {
    border-bottom-color: white;
}

.mobile-nav__link--active .mobile-nav__label {
    border-bottom-color: white;
}

@media only screen and (min-width: 750px) {
    #shopify-section-header {
        position: fixed;
        z-index: 1;
    }

    .site-header {
        padding: 0 3vw 0 10vw;
    }

    .site-nav {
        margin: 10px 0;
        text-align: right;
    }

    .logo-align--left {
        width: 20%;
    }

    #AccessibleNav {
        width: 73%;
    }

    .site-header__icons {
        width: 7%;
    }

    #SiteNav:after {
        content: "";
        position: absolute;
        right: 1vw;
        top: -10%;
        height: 120%;
        border-right: 1px solid white;
    }

    #SiteNav {
        padding-right: 2vw;
    }

    .site-header__icons-wrapper {
        justify-content: flex-start;
    }

    #header-container:hover .site-header {
        transform: translateY(0);
    }

    .site-header {
        transform: translateY(-100%);
        transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media only screen and (max-width: 749px) {
    .site-header__icons-left {
        padding-right: 0;
        padding-left: 13px !important;
    }

    .site-header__logo {
        padding: 0;
    }

    .site-header__logo-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
/*================ Header Custom End ================*/
/*================== Footer Custom ==================*/
#shopify-section-footer * {
    font-family: calibri;
}


/*================ Footer Custom End ================*/
/*================== Return to Top ==================*/
#return-to-top {
    z-index: 999999;
    position: fixed;
    bottom: 310px;
    right: 20px;
    background-image: url(https://cdn.shopify.com/s/files/1/0097/7171/2608/files/up.png?v=1589531810);
    width: 40px;
    height: 40px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a#return-to-top {
    background-size: cover;
}

#return-to-top i {
    color: white;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover i {
    color: white;
    top: 5px;
}
/*================ Return to Top End ================*/

